# Секреты и настройки окружения
.env

# Логи работы приложения
logs/
*.log

# Кэш Python (байт-код)
__pycache__/
*.py[cod]

# Настройки IDE (PyCharm, WebStorm и т.д.)
.idea/

# Папка с загрузками пользователя
.uploads/
